<footer slot="footer" class="px-4 flex flex-col items-center gap-4 py-5 text-center text-black">
    <a href="#index" id="back-to-top" tabindex="0">
        <div class="flex items-center gap-2 uppercase">
            Back To Top
        </div>
    </a>
    <small>24/7 Diamond K9 Security Limited is an active Private Limited Company, registered at Companies House
        under the
        number 13501840.
        <br />
        9 Newmans Close, Smethwick, Birmingham, B66 4SW. 
        <br />
        <a class="tel" href="tel:07940924974"><span class="blue">T </span>07940924974</a>
        <a class="email" href="mailto:247diamondk9@gmail.com"><span class="blue">E </span>247diamondk9@gmail.com</a>
        <br />
        © 2022 24/7 Diamond K9 Security Limited. All rights reserved.
    </small>
</footer>